body{
    margin: 2px;

}
div{
    border: 2px solid;
    height: 250px;
    width: 250px;
    background-color: aqua;
    translate: translate y(200px)
    translate-rotate 250de;
}
div:hover{
    width: 600px;
    height: 600px;
}